*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
--Green-lighter: hsl(148, 38%, 91%);
--Green-medium: hsl(169, 82%, 27%);
--Red: hsl(0, 66%, 54%);
--White: hsl(0, 0%, 100%);
--Grey-mid: hsl(186, 15%, 59%);
--Grey-dark: hsl(187, 24%, 22%);
--font-size: 16px;
--font-family: 'Karla', sans-serif;
--font-weight-regular: 400;
--font-weight-bold: 700;
--border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Green-lighter);
    font-family: var(--font-family);
}

form{
    width: 50rem;
    max-width: 50rem;
    background-color: var(--White);
    border-radius: var(--border-radius);
    padding: 2.5rem;
}

h1{
    color: var(--Grey-dark);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.5rem;
}
 
.names{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

input [type="text"], #firstName, #lastName{
    width: 100%;
    max-width: 100%;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--Grey-mid);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Grey-dark);
    margin-block-start: 1rem;
} 

input [type="text"]:focus, #firstName:focus, #lastName:focus{
    border-color: var(--Green-medium);
    outline: none;
    box-shadow: 0 0 2px var(--Green-medium);
}

input [type="email"], #email{
    width: 100%;
    max-width: 100%;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--Grey-mid);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Grey-dark);
    margin-block-start: 1rem;
    margin-block-end: 1.5rem;
}

input [type="email"]:focus, #email:focus{
    border-color: var(--Green-medium);
    outline: none;
    box-shadow: 0 0 2px var(--Green-medium);
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 6rem;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--Grey-mid);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Grey-dark);
    margin-block-start: 1rem;
    margin-block-end: 1.5rem;
    resize: none;
}

textarea:focus{
    border-color: var(--Green-medium);
    outline: none;
    box-shadow: 0 0 2px var(--Green-medium);
}

/* query type */

.radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 1rem 0 2rem 0;
}

.radio-item {
  display: inline-flex; /* to align svg and text */
  align-items: center;
  cursor: pointer;
}

.radio-option {
  width: 100%;
  max-width: 100%;
  padding: 0.8em;
  border-radius: var(--border-radius);
  border: 1px solid var(--Grey-mid);
  cursor: pointer;
}

.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem; /* main circle size*/
  height: 1.2rem; 
  margin-inline-end: 0.7rem; /* space between circle and text */
  margin-inline-start: 0.45rem;
}

.radio-custom svg {
  width: 100%;
  height: 100%;
  color: var(--Grey-mid); /* base circle color */
}

/* when radio input is checked */
.radio-input:checked + .radio-custom svg {
  color: var(--Green-medium);
}

.radio-input:checked + .radio-custom svg .radio-selected {
  opacity: 1; /* shows the inner circle */
  fill: var(--Green-medium); /* inner circle color */
}

.radio-option:focus {
  border-color: var(--Green-medium);
  outline: none;
  box-shadow: 0 0 2px var(--Green-medium);
}

.radio-option.selected {
    background-color: hsla(169, 82%, 27%, 0.1);  
    border-color: var(--Green-medium);
    box-shadow: 0 0 2px var(--Green-medium);
}

/* consent */

.checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.1rem; /* adjust the size */
  height: 1.1rem; 
  margin-inline-end: 1.2rem;
}

.checkbox-custom svg {
  width: 100%;
  height: 100%;
  color: var(--Grey-mid); 
}

.checkbox-input:checked + .checkbox-custom svg {
  color: var(--Green-medium); 
  background-color: var(--Green-medium);
}

.checkbox-input:checked + .checkbox-custom svg .checkbox-selected {
  opacity: 1; /* for the check */
  stroke: var(--White);
}

.checkbox-input:focus + .checkbox-custom svg {
  outline: none;
  border-color: var(--Green-medium);
  box-shadow: 0 0 2px var(--Green-medium);
}

button{
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--Green-medium);
    color: var(--White);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    letter-spacing: 1.4px;
    cursor: pointer;
    margin-block-start: 1.7rem;
}

.required{
    color: var(--Green-medium);
    font-weight: var(--font-weight-bold);
    margin-inline-start: 0.2rem;;
}