*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
--Green-lighter: hsl(148, 38%, 91%);
--Green-medium: hsl(169, 82%, 27%);
--Red: hsl(0, 66%, 54%);
--White: hsl(0, 0%, 100%);
--Grey-mid: hsl(186, 15%, 59%);
--Grey-dark: hsl(187, 24%, 22%);
--font-size: 16px;
--font-family: 'Karla', sans-serif;
--font-weight-regular: 400;
--font-weight-bold: 700;
--border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Green-lighter);
    font-family: var(--font-family);
}



form{
    width: 45rem;
    max-width: 45rem;
    background-color: var(--White);
    border-radius: var(--border-radius);
    padding: 2.5rem;
    margin-block-start: 7rem;
    margin-block-end: 6rem;
    position: static;
}

h1{
    color: var(--Grey-dark);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.5rem;
}
 
.names{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

input [type="text"], #firstName, #lastName{
    width: 100%;
    max-width: 100%;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--Grey-mid);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Grey-dark);
    margin-block-start: 1rem;
    font-family: var(--font-family);

} 

input [type="text"]:focus, #firstName:focus, #lastName:focus{
    border-color: var(--Green-medium);
    outline: none;
    box-shadow: 0 0 2px var(--Green-medium);
}

input [type="text"]:hover, #firstName:hover, #lastName:hover{
    border-color: var(--Green-medium);
}

input [type="email"], #email{
    width: 100%;
    max-width: 100%;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--Grey-mid);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Grey-dark);
    margin-block-start: 1rem;
    font-family: var(--font-family);

}

input [type="email"]:focus, #email:focus{
    border-color: var(--Green-medium);
    outline: none;
    box-shadow: 0 0 2px var(--Green-medium);
}

input [type="email"]:hover, #email:hover{
    border-color: var(--Green-medium);
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 6rem;
    padding: 0.85rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--Grey-mid);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    color: var(--Grey-dark);
    margin-block-start: 1rem;
    resize: none;
    font-family: var(--font-family);

}

textarea:focus{
    border-color: var(--Green-medium);
    outline: none;
    box-shadow: 0 0 2px var(--Green-medium);
}

textarea:hover{
    border-color: var(--Green-medium);
}

#messageLabel{
  display: inline-block;
    margin-block-start: 1.7rem;
}

/* query type */

#queryType{
  margin-block-start: 1.5rem;
}

.radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-block-start: 1rem;
}

.radio-item {
  display: inline-flex; /* to align svg and text */
  align-items: center;
  cursor: pointer;
}

.radio-option {
  width: 100%;
  max-width: 100%;
  padding: 0.8em;
  border-radius: var(--border-radius);
  border: 1px solid var(--Grey-mid);
  cursor: pointer;
}

.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem; /* main circle size*/
  height: 1.2rem; 
  margin-inline-end: 0.7rem; /* space between circle and text */
  margin-inline-start: 0.45rem;
}

.radio-custom svg {
  width: 100%;
  height: 100%;
  color: var(--Grey-mid); /* base circle color */
}

/* when radio input is checked */
.radio-input:checked + .radio-custom svg {
  color: var(--Green-medium);
}

.radio-input:checked + .radio-custom svg .radio-selected { 
  /* esto literalmente significa: Encuentra un .radio-input que esté :checked, luego encuentra su hermano adyacente con la clase .radio-custom, 
  luego dentro de ese hermano encuentra un elemento <svg>, y finalmente, dentro de ese <svg>, aplica el estilo al elemento con la clase .radio-selected"*/
  opacity: 1; /* shows the inner circle */
  fill: var(--Green-medium); /* inner circle color */
}

.radio-option:hover {
  border-color: var(--Green-medium);
}

.radio-option:focus {
  border-color: var(--Green-medium);
  outline: none;
  box-shadow: 0 0 2px var(--Green-medium);
}

.radio-option.selected {
    background-color: hsla(169, 82%, 27%, 0.1);  
    border-color: var(--Green-medium);
    box-shadow: 0 0 2px var(--Green-medium);
}

/* consent */

.checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-top: 3rem;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.1rem; /* adjust the size */
  height: 1.1rem; 
  margin-inline-end: 1.2rem;
}

.checkbox-custom svg {
  width: 100%;
  height: 100%;
  color: var(--Grey-mid); 
}

.checkbox-input:checked + .checkbox-custom svg { /* the + is a sibling selector (the element inmediately following the one selected) */
  color: var(--Green-medium); 
  background-color: var(--Green-medium);
}

.checkbox-input:checked + .checkbox-custom svg .checkbox-selected {
  opacity: 1; /* for the check */
  stroke: var(--White);
}

.checkbox-input:focus + .checkbox-custom svg {
  outline: none;
  color: var(--Green-medium);
  border-color: var(--Green-medium);
  box-shadow: 0 0 2px var(--Green-medium);
}

.checkbox-input:hover + .checkbox-custom svg {
  color: var(--Green-medium); 
}

button{
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--Green-medium);
    color: var(--White);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    letter-spacing: 1.4px;
    cursor: pointer;
    margin-block-start: 2.3rem;
}

button:hover{
    background-color: #063f06;   
}

button:focus{
    outline: none;
    box-shadow: 0 0 5px var(--Green-medium);
}

.required{
    color: var(--Green-medium);
    font-weight: var(--font-weight-bold);
    margin-inline-start: 0.2rem;;
}

.error{
  color: var(--Red);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size);
  display: inline-block; /*because span is an inline element so with inline-block we can add margin*/
  margin-block-start: 0.7rem;
}

.error{
  display: none;
}

.error-border{
  border-color: var(--Red) !important;
}

/*success message*/

#sp{
  position: absolute;
  top: 1.5rem;
}

.success{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  justify-items: center;
  background-color: var(--Grey-dark);
  border-radius: var(--border-radius);
  padding: 1.3rem 1rem;
  width: 23rem;
  color: var(--White);
}

.success span{
  grid-area: 1 / 1 / 1 / 1;
  display: block;
  background-image: url(assets/images/icon-success-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  margin-inline-start: -0.82em;
}

.success h2{
  grid-area: 1 / 2 / 1 / 2;
  width: 12rem;
  font-size: var(--font-size);
  margin-inline-start: -7rem;
}

.success p{
  grid-area: 2 / 1 / 2 / span 2;
  font-size: 0.8rem;
  text-align: left;
  margin-block-start: 0.5rem;
}

.success{
  display: none;
}

.pop{
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease;
  opacity: 0.8;
}


.pop.active{
  max-height: 200px;
  opacity: 1;
}  

#sp-mobile{
  display: none;
}

footer{
  position: relative;
  bottom: 15px;
  color: var(--Grey-mid);
}

@media (max-width: 500px){

    form{
      width: 100%;
      max-width: 21rem;
      margin-block-start: 2rem;
      padding-block-end: 1.5rem;
      border-radius: 1.1rem;
    }

    h1{
      margin-block-end: 2rem;
      letter-spacing: -0.07rem;
    }

    .names{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    }
    
    .radio-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
    }

    #messageLabel{
    margin-block-start: 0.5rem;
    }

    textarea{
      height: 13rem;
    }

    .checkbox-custom{
      width: 1.5rem;
      height: 1.5rem;
    }

    .checkbox-container{
      margin-block-start: 2.5rem;
      margin-block-end: 2.5rem;
    }

    button{
      margin-block-start: 0rem;
    }

    .consent + .error {
      margin-block-start: -1.5rem;
      margin-block-end: 2.5rem;
    }

    #sp-mobile{
      display: block;
      position: relative;
      top: 0.7rem;
    }

    .success{
      width: 22rem;
    }

    .success span{
      margin-inline-start: 0rem;
      justify-self: start;
    }

    .success p{
      font-size: 16px;
    }

    .success h2{
      font-size: 18px;
    }

    #sp{
      display: none;
    }

}



